@import "../commons/config";

.lianxiwomen{
    padding-left: px2rem(62);
    padding-right: px2rem(61);
    h2{
        font-size: px2rem(48);
    }
    h3{
        font-size: px2rem(38);
    }
    p{
        font-size: px2rem(26);
        line-height: px2rem(38);
        img{
            width: px2rem(54);
            height: px2rem(48);
        }
    }
}









































