@charset "UTF-8";
/*px转rem 640是设计图的宽度  */
.shiye {
  text-align: center; }
  .shiye .hd {
    position: absolute;
    bottom: 0.3125rem; }
  .shiye .bd {
    display: none; }
  .shiye .bd.on {
    display: block; }
  .shiye .bd h3 {
    text-align: left; }
  .shiye .bd p {
    text-align: left; }
  .shiye .bd img {
    width: 3.75rem;
    height: 3.90625rem;
    display: inline-block;
    margin-top: 0.9375rem; }
