@charset "UTF-8";
/*px转rem 640是设计图的宽度  */
/*这个配置以后写scss是必须引入的,px2rem函数我写这里面了*/
/* 这是首页的scss 其实就是css 等会通过工具可以生成到css文件夹里面*/
/* 如果我写的scss不规范。。就会报错。。报错会导致gulp中断  。。中断会导致生成不了最新的css..需要修改代码。。并重新运行gulp命令 */
/* 现在就对了。你看css文件夹也出来了 看看html*/
/* 现在样式也对了。。如果我修改首页的scss。。他会自动生成css css里面的内容和这里面的一样。。。并会自动补全。。兼容 */
/* 如果我写错了。。gulp命令会中断。。。导致生成不了css..例如我少带了括号然后保存 */
/* 中断了..我改成正确之后。。需要重新运行gulp*/
/* 现在我就可以接着写了。。我写了一个函数px2rem   帮我计算像素转成rem*/
/*关于我们*/
.about {
  text-align: center;
  margin-bottom: 0.59375rem; }

.about h2 {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.5625rem;
  color: #2a2a2a;
  font-weight: bold;
  position: relative; }

.about h2:after {
  content: '';
  width: 1.15625rem;
  height: 0.04688rem;
  background-color: #58215b;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -0.57813rem; }

/*了解更多*/
.understand {
  width: 10rem;
  background-color: #f3f3f3;
  padding: 0.39063rem 0.375rem;
  font-size: 0.375rem;
  margin-top: 1.09375rem;
  text-align: center; }

.understand p {
  color: #888888;
  text-indent: 2em;
  line-height: 0.46875rem;
  text-align: left; }

.understand a {
  width: 2.23438rem;
  height: 0.53125rem;
  line-height: 0.53125rem;
  background-color: #58215b;
  color: #ffffff;
  font-size: 0.375rem;
  display: inline-block;
  text-align: center;
  border-radius: 0.23438rem;
  margin-top: 0.35938rem; }

.introduce .bd dl {
  height: 4.0625rem;
  display: none; }

.introduce .bd dl.on {
  display: block; }

.introduce .bd dl dt {
  width: 4.48438rem;
  float: left; }

.introduce .bd dl dt img {
  width: 2.76563rem;
  height: 2.8125rem;
  margin-left: 1.01563rem; }

.introduce .bd dl dd {
  width: 5.51563rem;
  float: left;
  text-indent: 2em;
  font-size: 0.375rem;
  color: #a4a4a4;
  padding-right: 0.35938rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden; }

.banner_box {
  /* scss还可以这样写,他会帮你生成对应的css  你刚刚的问题是你布局没写好,应该再套一层 */
  /* scss还可以定义变量 */
  width: 9.25rem;
  height: 6rem;
  margin: 1.25rem auto 0; }
  .banner_box .hd {
    position: absolute;
    bottom: 0.46875rem; }
  .banner_box .bd dl {
    margin-bottom: 0.39063rem;
    display: none; }
  .banner_box .bd dl.on {
    display: block; }
  .banner_box .bd dt img {
    width: 9.25rem;
    height: 3.4375rem; }
  .banner_box .bd dd {
    padding: 0.39063rem 0.23438rem 0.9375rem;
    -webkit-box-shadow: 0 0 10px #a4a4a4;
    box-shadow: 0 0 10px #a4a4a4; }
    .banner_box .bd dd .dd-div {
      height: 0.9375rem;
      line-height: 0.46875rem;
      font-size: 0.375rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-indent: 2em; }
