@charset "UTF-8";
/*px转rem 640是设计图的宽度  */
.online form {
  margin-top: 0.54688rem;
  margin-bottom: 0.54688rem; }
  .online form p {
    margin-bottom: 0.3125rem; }
    .online form p em {
      width: 2.84375rem;
      text-align: right;
      display: inline-block;
      font-size: 0.5625rem;
      font-style: normal;
      margin-right: 0.625rem;
      vertical-align: middle; }
    .online form p input {
      width: 5.46875rem;
      height: 0.5625rem;
      vertical-align: middle; }
    .online form p textarea {
      width: 5.46875rem;
      height: 3.92188rem; }
  .online form div {
    color: red;
    text-align: center;
    height: 1.4375rem;
    line-height: 1.4375rem; }
    .online form div span {
      color: #767676;
      font-size: 0.375rem; }
    .online form div input {
      width: 1.35938rem;
      height: 0.4375rem;
      margin: 0 0.3125rem; }
