@import "../commons/config";
.core{
    .bd ul{
        margin-bottom: px2rem(65);
    }
    .bd ul li{
        text-align: center;
    }
    .bd ul li img{
        width: px2rem(500);
        height: px2rem(300);
    }
}




































