@import "../commons/config";

.guanyuwomen{
    font-size: px2rem(26);
    h2{
        height: px2rem(95);
        color: #58bff2;
        font-size: px2rem(38);
        margin-top: px2rem(36);
        margin-left: px2rem(40);
        border-bottom: 1px solid #00adef;
        margin-bottom: px2rem(45);
        line-height: px2rem(95);
    }
    .dazao{
        height: px2rem(122);
        padding-left: px2rem(30);
    }
    div{
        text-indent: 2em;
        line-height: px2rem(36);
        margin-bottom: px2rem(40);
        padding-left: px2rem(20);
        padding-right: px2rem(20);
    }
}
.shengchan{
    width: px2rem(265);
    height: px2rem(58);
    background-color: #00adef;
    color: #ffffff;
    font-size: px2rem(36);
    text-align: center;
    border-radius: px2rem(16);
    margin-left: px2rem(24);
}
.shengchan_1 {

    img{
        width: px2rem(592);
        height: px2rem(310);
        margin: px2rem(46) 0;
    }
    padding-left: px2rem(24);
    padding-right: px2rem(24);
    ul li{
        position: relative;
    }
    ul li em{
        display: inline-block;
        width: px2rem(30);
        height: px2rem(30);
        background-color: #00adef;
        color: #ffffff;
        text-align: center;
        line-height: px2rem(30);
        font-size: px2rem(26);
        font-style: normal;
        border-radius: 50%;
        position: absolute;
        left: px2rem(5);
        top: 0;
    }
    ul li span{
        display: inline-block;
        text-indent: 2em;
        line-height: px2rem(48);
    }
}
















































