@import "../commons/config";

.journalism{
    color: #000;
    border-bottom: 1px solid #a4a4a4;
    margin-bottom: px2rem(26);
    p{
        line-height: px2rem(46);
        font-size: px2rem(36);
        margin-bottom: px2rem(45);
        padding: px2rem(20);

    }
    span{
        font-size: px2rem(24);
        padding-left: px2rem(20);
        color: #cfcfcf;
        height: px2rem(60);
        display: block;
    }
}
.journalism1{
    p{
        text-indent: 2em;
        font-size: px2rem(26);
        line-height: px2rem(40);
        margin-bottom: px2rem(60);
        padding: 0 px2rem(25);
    }
}









































